@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
*,
body {
  font-family: "Poppins", sans-serif;
}

.btn {
  padding: 1rem 5rem;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  outline: none;
  border: none;
  letter-spacing: 0.4px;
}
.btn:focus {
  outline: none;
}
p {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 2rem 0px;
}
span {
  font-weight: 500;
  padding: 0px 1rem;
}
